@keyframes hoverZoom {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.05);
    }
}


body {
    background-color: #61dafb;
}

.meteora {
    display: block;
    position: relative;
    height: 200px;
    margin-top: 20px;
    transition: transform 1s ease-in-out
}

.meteora:hover {
    background-color: #0005;
    animation: hoverZoom 0.3s forwards;
}